<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="OH_Bestsellers::settings" title="OH Bestsellers" translate="title" sortOrder="920"/>
            </resource>
        </resources>
    </acl>
</config>
