<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OH_Bestsellers::title"
             title="Bestsellers"
             module="OH_Bestsellers"
             sortOrder="10"
             parent="OH_Core::oh"
             translate="title"
             resource="OH_Bestsellers::setting"
        />

        <add id="OH_Bestsellers::settings"
             title="Settings"
             module="OH_Bestsellers"
             sortOrder="10"
             translate="title"
             parent="OH_Bestsellers::title"
             resource="OH_Bestsellers::setting"
             action="adminhtml/system_config/edit/section/oh_bestsellers"
        />
    </menu>
</config>
